<div class="s-product-promo">
    <div class="s-product-promo__img"></div>
    <div class="s-product-promo__info">
        <div class="s-product-promo__title">
            <a href="{{ product.url }}">{{ product.name }}</a>
        </div>
        <div class="s-product-promo__price">{{ product.price }}</div>
    </div>
    <div class="s-product-promo__buttons">
        <button class="s-btn s-btn--buy" role="button">В корзину</button>
        <button class="s-btn s-btn--icon mdi mdi-scale-balance" role="button" title="Добавить в сравнение"></button>
        <button class="s-btn s-btn--icon mdi mdi-heart-outline" role="button" title="Добавить в закладки"></button>
    </div>
</div>